@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}
body{
    background-color: #2C2C2C;
    padding: 80px;
}

h1{
    color: #FF6600;
    font-size: 62px;
    text-align: center;
    font-weight: lighter;
}

h2{
    color: #fb7e2b;
    font-size: 32px;
    font-weight: lighter;
}

p{
    color: #F5F5F5;
    font-size: 20px;
    font-weight: lighter;
}


.opcoes{
    display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 500px;
	margin: 0 auto;
}

a{
    display: block;
    background-color: #0c4260;
    color: #F5F5F5;
    padding: 10px;
    font-size: 18px;  
    border-radius: 10px;
    text-align: center;
}

.resgitro{
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #0c4260;
}

label{
    color:#F5F5F5;
    font-size: 15px;
    text-align: center;
}

button{
    color:#F5F5F5;
    background-color: #0c4260;
}